// Margin
.mx-1{
  margin: 0rem 1rem;
}
.mx-2{
  margin: 0rem 2rem;
}
.mx-3{
  margin: 0rem 2.5rem;
}
.mx-4{
  margin: 0rem 3rem;
}
.mx-5{
  margin: 0rem 4rem;
}
.my-1{
  margin: 1rem 0rem;
}
.my-2{
  margin: 2rem 0rem;
}
.my-3{
  margin: 2.5rem 0rem;
}
.my-4{
  margin: 3rem 0rem;
}
.my-5{
  margin: 4rem 0rem;
}
.m-1{
  margin: 1rem;
}
.m-2{
  margin: 2rem;
}
.m-3{
  margin: 2.5rem;
}
.m-4{
  margin: 3rem;
}
.m-5{
  margin: 4rem;
}
.ml-1{
  margin-left: 1rem;
}
.ml-2{
  margin-left: 2rem;
}
.ml-3{
  margin-left: 2.5rem;
}
.ml-4{
  margin-left: 3rem;
}
.ml-5{
  margin-left: 4rem;
}
.mr-1{
  margin-right: 1rem;
}
.mr-2{
  margin-right: 2rem;
}
.mr-3{
  margin-right: 2.5rem;
}
.mr-4{
  margin-right: 3rem;
}
.mr-5{
  margin-right: 4rem;
}

// Padding
.px-1{
  padding: 0rem 1rem;
}
.px-2{
  padding: 0rem 2rem;
}
.px-3{
  padding: 0rem 2.5rem;
}
.px-4{
  padding: 0rem 3rem;
}
.px-5{
  padding: 0rem 4rem;
}
.py-1{
  padding: 1rem 0rem;
}
.py-2{
  padding: 2rem 0rem;
}
.py-3{
  padding: 2.5rem 0rem;
}
.py-4{
  padding: 3rem 0rem;
}
.py-5{
  padding: 4rem 0rem;
}
.p-1{
  padding: 1rem;
}
.p-2{
  padding: 2rem;
}
.p-3{
  padding: 2.5rem;
}
.p-4{
  padding: 3rem;
}
.p-5{
  padding: 4rem;
}
.pl-1{
  padding-left: 1rem;
}
.pl-2{
  padding-left: 2rem;
}
.pl-3{
  padding-left: 2.5rem;
}
.pl-4{
  padding-left: 3rem;
}
.pl-5{
  padding-left: 4rem;
}
.pr-1{
  padding-right: 1rem;
}
.pr-2{
  padding-right: 2rem;
}
.pr-3{
  padding-right: 2.5rem;
}
.pr-4{
  padding-right: 3rem;
}
.pr-5{
  padding-right: 4rem;
}

// Diaplay
.d-flex{
  display: flex;
}
.jsb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}

// Unorder list
.list-unstyled{
  list-style: none;
  margin: 0;
  padding: 0;
}

// Image
.img-fluid{
  max-width: 100%;
  height: auto;
}

// Height
.h-100{
  height: 100%;
}
